/*Reglas generales*/
    @import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

    /*font-family: 'Coiny', cursive;
    font-family: 'Roboto', sans-serif;*/
    /*background-color: #FCEE21;*/

    * {
        box-sizing: border-box;
        background-color: rgb(227, 193, 255);
        border: 1px solid black;
        font-family: 'Roboto', sans-serif;
        margin: 1px;
    }

/*Nav*/
    nav {
        position: sticky;
    }

    nav h1 {
        font-family: 'Coiny', regular;
        font-size: 3.5rem;
    }

    nav a {
        text-decoration: none;
    }
/*Header*/
    .guap {
        font-family: 'Coiny', cursive;
        font-size: 2.5rem;
    }
/*Main*/

/*Footer*/


