/*Reglas generales*/
@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

/*font-family: 'Coiny', cursive;
    font-family: 'Roboto', sans-serif;*/
/*background-color: #FCEE21;*/

* {
    box-sizing: border-box;
    background-color: rgb(227, 193, 255);
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box;
}

div div {
    width: 450px;
}

img {
    width: 450px;
}

.w-450 {
    width: 450px;
}

/*Eliminar luego de terminar*/
.bb {
    border: 1px solid black;
    margin: 1px;
}

.provisorio {
    background-color: aqua;
    height: 250px;
    width: 450px;
}
.separador{
    border-bottom: 1px solid black;
    padding-bottom: 2.5rem;
    margin-bottom: 1.5rem;
}

/*Clases generales*/
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-1 {
    gap: 1rem;
}

.justify-center {
    justify-content: center;
}

.justify-evenly {
    justify-content: space-evenly;
}

.float-left {
    float: left;
}
/*Nav*/
nav {
    align-items: center;
    padding: .5rem;

}

nav h1 {
    font-family: 'Coiny', regular;
    font-size: 2.5rem;
}

nav div a {
    text-decoration: none;
    font-size: 1.5rem;
}

/*Header*/
.guap {
    font-family: 'Coiny', cursive;
    font-size: 3.5rem;
}

/*Main*/
#redes :nth-child(1) {
        width: 90px;
}

#redes p, #redes h2 {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #808080;
}

/*main :nth-child(2){
    padding: 2rem;
}*/

/*Footer*/