/*Reglas generales*/
    @import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

    /*font-family: 'Coiny', cursive;
    font-family: 'Roboto', sans-serif;*/
    /*background-color: #FCEE21;*/

    * {
        box-sizing: border-box;
        background-color: rgb(227, 193, 255);
        font-family: 'Roboto', sans-serif;
        /*Eliminar luego de terminar*/
        border: 1px solid black;
        margin: 1px;
    }

/*Nav*/
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;
        
    }

    nav h1 {
        font-family: 'Coiny', regular;
        font-size: 2.5rem;
    }

    nav div a {
        text-decoration: none;
        font-size: 1.5rem;
    }
/*Header*/
    .guap {
        font-family: 'Coiny', cursive;
        font-size: 3.5rem;
    }
/*Main*/

/*Footer*/


